services:
  loki:
    image: grafana/loki:3.6.3
    container_name: loki
    volumes:
      - ~/repository/monitoring/loki/loki.yml:/etc/loki/loki.yml:ro
      - ~/data/loki:/loki
    env_file:
      - ~/config/common/base.env
    ports:
      - '3100:3100'
    networks:
      - common_network
    command: -config.file=/etc/loki/loki.yml
    restart: always
    user: "1000:1000"

networks:
  common_network:
    external: true
