services:
  blackbox-exporter:
    image: prom/blackbox-exporter:v0.28.0
    container_name: blackbox-exporter
    env_file:
      - ~/config/common/base.env
    ports:
      - '9115:9115'
    networks:
      - common_network
    extra_hosts:
      - ring-face-recognition:host-gateway
    restart: always

networks:
  common_network:
    external: true
