services:
  grafana:
    image: grafana/grafana:12.3.2
    container_name: grafana
    volumes:
      - ~/repository/monitoring/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ~/data/grafana:/var/lib/grafana
    env_file:
      - ~/config/common/base.env
      - ~/config/grafana/app.env
    ports:
      - '3000:3000'
    networks:
      - common_network
    restart: always
    # https://github.com/grafana/grafana/issues/63599
    user: "1000:1000"

networks:
  common_network:
    external: true
