services:
  postgresql:
    image: docker.io/library/postgres:16-alpine # https://docs.goauthentik.io/docs/developer-docs/setup/full-dev-environment
    container_name: authentik-db
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - ~/data/authentik/postgresql:/var/lib/postgresql/data
    env_file:
      - ~/config/authentik/postgresql.env
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    user: "1000:1000"

  redis:
    image: docker.io/library/redis:7 # https://docs.goauthentik.io/docs/developer-docs/setup/full-dev-environment
    container_name: authentik-redis
    volumes:
      - ~/data/authentik/redis:/data
    command: --save 60 1 --loglevel warning
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    user: "1000:1000"

  server:
    image: &authentik_image ghcr.io/goauthentik/server:2025.10.2
    container_name: authentik-server
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ~/data/authentik/media:/media
      - ~/data/authentik/custom-templates:/templates
    env_file:
      - ~/config/authentik/app.env
    networks:
      - default
      - common_network
    command: server
    restart: always

  worker:
    image: *authentik_image
    container_name: authentik-worker
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/data/authentik/media:/media
      - ~/data/authentik/custom-templates:/templates
    env_file:
      - ~/config/authentik/app.env
    networks:
      - default
      - common_network
    command: worker
    restart: always

networks:
  default:
  common_network:
    external: true
