services:
  gollum:
    image: gollumwiki/gollum:6.1.0
    container_name: gollum
    volumes:
      - ~/repository/home-wiki:/wiki
      - ~/.gitconfig:/home/www-data/.gitconfig:ro
    env_file:
      - ~/config/common/base.env
    ports:
      - '4567:4567'
    networks:
      - common_network
    command:
      - "--ref=main"
      - "--h1-title"
      - "--emoji"
    restart: always

networks:
  common_network:
    external: true
