name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  deploy-webhook:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Trigger deploy-webhook
        env:
          WEBHOOK_URL_BASE: ${{ secrets.WEBHOOK_URL_BASE }}
          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
        run: |
          CHANGED_DIRS=($(git diff --name-only HEAD^ HEAD | xargs -I {} dirname {} | sort | uniq | grep -v '^\.' || true))

          for SERVICE_NAME in "${CHANGED_DIRS[@]}"; do
            echo "deploy $SERVICE_NAME"
            TIMESTAMP=$(date +%s)
            SIGNATURE=$(echo -n "$TIMESTAMP" | openssl dgst -sha256 -hmac "$WEBHOOK_SECRET" | awk '{print $2}')
            WEBHOOK_URL=$(printf "$WEBHOOK_URL_BASE" "$SERVICE_NAME")
            curl -f -X POST "$WEBHOOK_URL" \
                  -H "X-Signature: $SIGNATURE" \
                  -H "X-Timestamp: $TIMESTAMP"
          done
